[Unit]
After=sys-devices-platform-ocp-481a0000.spi-spi_master-spi2-spi2.1-spidev-spidev2.1.device
Requires=sys-devices-platform-ocp-481a0000.spi-spi_master-spi2-spi2.1-spidev-spidev2.1.device
Description=The Replicape Daemon

[Service]
ExecStart=/usr/local/bin/redeem

[Install]
WantedBy=basic.target

